<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
</head>
<!-- <style>
    li {
        list-style-type: none;
    }
</style> -->
<body>
    <h1><%= kindOfDay %></h1>
    <ul>
        <% newListItem.map(newItem => { %>
                <li> <%=newItem%> </li>
       <% }) %>
    </ul>

    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="To-do">
        <button type="submit" name="button">Add To-do</button>
    </form>

</body>
</html>